body {
   background-color: gray;

}

.container{
    background-color: white; 
    border: 3px solid black;
    margin: 2rem 10rem 2rem 10rem;
}

header{
    text-align: center;
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    width: 95%;
    margin: auto;
}

.title{
    font-weight: bold;
    font-size: 4rem;
    margin-top: 1rem;
}


.laserie {
    margin: 3rem 0 1rem 1rem;
    padding: 0.4rem;
    border: 3px solid black;
    background-color: black;
    color: white;
}

main{
    background-color: lightgray;
    margin: 1rem 28rem 1rem 28rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.main__title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    
}

.imgherocorp{
    text-align: center;
}

.firstp {
    border-bottom: 2px solid black;
    margin: 2rem 0 1.5rem 0;
    padding-bottom: 1.5rem;
    
}
.pbold{
    font-weight: bold;
}

.secondp {
    font-style: italic;
    text-align: center;
}

.second__title{
    text-align: center;
    font-size: 2rem;
    color: red;
    margin: 1.5rem 0;
}

.threep{
    margin-bottom: 1rem;
}

.fourp{
    margin-bottom: 1rem;
}

.main__actor{
    text-align: center;
    margin: 1rem 28rem 1rem 28rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    
    
}

.three__title{
    margin: 0.8rem 0;
    font-weight: bold;
    font-size: 1.5rem;
}


li{
    background-color: lightgray;
    border: 1px solid grey;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    
}

a{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}

.mainimg{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.four__title{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mainimg__container{
    text-align: center;
    
}

.mainimg__pret, .mainimg__logo, .mainimg__costum{
    border: 1px solid lightgray;
    margin: 1rem;
    padding: 1rem 1rem 1rem 1rem;    
}

.imgserie {
    height: 10rem;
    width: 12.5rem;
}

.mainimg__container-p{
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

h3{
    text-align: center;
    color: red;
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

.footer{
    background-color: lightgray;
    text-align: center;
    margin: 0 2rem 2rem 2rem;
    padding: 3rem;
    
}